Repository jjmartres/opencode: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-makefile, validate-jsonc

Path conditions:
  validate-makefile: any of: ^Makefile$
  validate-jsonc: any of: \.jsonc$

docs: Update documentation and add logo
  CONTRIBUTING.md
  README.md
  opencode-logo.png
Due: none

feat: Add git commit and work on ticket skills
  opencode/command/commit.md
  opencode/skill/git-commit/SKILL.md
  opencode/skill/work-on-ticket/SKILL.md
Due: none

feat: Add git commit and work on ticket skills (#1)
  opencode/command/commit.md
  opencode/skill/git-commit/SKILL.md
  opencode/skill/work-on-ticket/SKILL.md
Due: none

feat: Add code-docs and project-docs skills
  .markdownlint.yaml
  opencode/skill/code-docs/SKILL.md
  opencode/skill/code-docs/references/go_google_style.md
  opencode/skill/code-docs/references/python_google_style.md
  opencode/skill/code-docs/references/terraform_style.md
  opencode/skill/project-docs/SKILL.md
  opencode/skill/project-docs/references/template.md
Due: none

feat: Add code-docs and project-docs skills (#2)
  .markdownlint.yaml
  opencode/skill/code-docs/SKILL.md
  opencode/skill/code-docs/references/go_google_style.md
  opencode/skill/code-docs/references/python_google_style.md
  opencode/skill/code-docs/references/terraform_style.md
  opencode/skill/project-docs/SKILL.md
  opencode/skill/project-docs/references/template.md
Due: none

feat(docs): ✨ add comprehensive project documentation
  README.md
  docs/AGENTS.md
  docs/COMMANDS.md
  docs/RULES.md
  docs/SKILLS.md
  opencode/skill/reachy-mini-sdk/SKILL.md
  opencode/skill/reachy-mini-sdk/references/ai_integration.md
  opencode/skill/reachy-mini-sdk/references/api_quick_reference.md
  opencode/skill/reachy-mini-sdk/references/installation.md
  opencode/skill/reachy-mini-sdk/references/movement_control.md
  opencode/skill/reachy-mini-sdk/references/sensors.md
Due: none

feat(docs): ✨ add comprehensive project documentation (#3)
  README.md
  docs/AGENTS.md
  docs/COMMANDS.md
  docs/RULES.md
  docs/SKILLS.md
  opencode/skill/reachy-mini-sdk/SKILL.md
  opencode/skill/reachy-mini-sdk/references/ai_integration.md
  opencode/skill/reachy-mini-sdk/references/api_quick_reference.md
  opencode/skill/reachy-mini-sdk/references/installation.md
  opencode/skill/reachy-mini-sdk/references/movement_control.md
  opencode/skill/reachy-mini-sdk/references/sensors.md
Due: none

feat: Refactor commit skill and update documentation
  README.md
  docs/AGENTS.md
  docs/SKILLS.md
  opencode/command/commit.md
  opencode/skill/git-commit/SKILL.md
Due: none

docs: Improve project description in README.md
  README.md
Due: none

docs: Remove duplicated sections in README.md
  README.md
Due: none

feat(skills): add reachy-mini-sdk as a submodule
  .gitmodules
  opencode/skill/reachy-mini-sdk/SKILL.md
  opencode/skill/reachy-mini-sdk/references/ai_integration.md
  opencode/skill/reachy-mini-sdk/references/api_quick_reference.md
  opencode/skill/reachy-mini-sdk/references/installation.md
  opencode/skill/reachy-mini-sdk/references/movement_control.md
  opencode/skill/reachy-mini-sdk/references/sensors.md
Due: none

docs: Update documentation and file structure
  CONTRIBUTING.md
  README.md
  docs/COMMANDS.md
  opencode/command/documentation.md
  opencode/skill/file-organizer/SKILL.md
Due: none

docs: Update README.md with new badges
  README.md
Due: none

docs: Update README.md with new badges
  .gitignore
  README.md
  opencode/agent/.DS_Store
  opencode/command/datadog.md
  opencode/opencode.jsonc
  opencode/skill/datadog/SKILL.md
  opencode/skill/datadog/reference/installation.md
Due: validate-jsonc

Feat: Datadog skill + Gemini 3.0 preview
  .gitignore
  opencode/agent/.DS_Store
  opencode/command/datadog.md
  opencode/opencode.jsonc
  opencode/skill/datadog/SKILL.md
  opencode/skill/datadog/reference/installation.md
Due: validate-jsonc

feat: Update model configuration and add plugin
  opencode/opencode.jsonc
Due: validate-jsonc

feat: Add glab skill
  opencode/skill/glab/SKILL.md
  opencode/skill/glab/references/commands-detailed.md
  opencode/skill/glab/references/quick-reference.md
  opencode/skill/glab/references/troubleshooting.md
Due: none

feat: Add glab skill (#6)
  opencode/skill/glab/SKILL.md
  opencode/skill/glab/references/commands-detailed.md
  opencode/skill/glab/references/quick-reference.md
  opencode/skill/glab/references/troubleshooting.md
Due: none

feat(skill): add asdf skill
  opencode/skill/asdf/SKILL.md
Due: none

feat(mlops): add prepare-dataset command and clean up config
  opencode/command/prepare-dataset.md
  opencode/opencode.jsonc
Due: validate-jsonc

feat: add anthropic models
  opencode/opencode.jsonc
Due: validate-jsonc

feat: add anthropic models (#9)
  opencode/opencode.jsonc
Due: validate-jsonc

feat: update model to gemini-3.1-pro
  opencode/opencode.jsonc
Due: validate-jsonc

feat: update model to gemini-3.1-pro (#10)
  opencode/opencode.jsonc
Due: validate-jsonc

feat(skill): add httpie skill
  .gitignore
  opencode/skill/httpie/SKILL.md
Due: none

feat(local-models): add omlx provider and remove superpowers
  .gitignore
  Makefile
  opencode/opencode.jsonc
Due: validate-makefile, validate-jsonc

feat(config): add qwen3 local model and new plugins
  opencode/opencode-notifier.json
  opencode/opencode.jsonc
Due: validate-jsonc

chore: remove useless plugins
  README.md
  opencode/opencode-notifier.json
  opencode/opencode.jsonc
  opencode/tui.jsonc
Due: validate-jsonc

chore: remove useless plugins (#14)
  README.md
  opencode/opencode-notifier.json
  opencode/opencode.jsonc
  opencode/tui.jsonc
Due: validate-jsonc

feat: add omlx local model
  opencode/opencode.jsonc
Due: validate-jsonc

docs(skill): clean up markdown in signs-of-ai-writing.md
  opencode/skills/writing-clearly-and-concisely/signs-of-ai-writing.md
Due: none

feat(cost-guard): add cost guard feature
  opencode/cost-guard.config.jsonc
  opencode/opencode.jsonc
Due: validate-jsonc

docs: add commit and create MR documentation
  opencode/commands/commit-and-create-mr.md
Due: none

docs: add commit and create MR documentation (#19)
  opencode/commands/commit-and-create-mr.md
Due: none

docs: archive repository and update skills
  README.md
  opencode/skills/caveman-compress/SKILL.md
  opencode/skills/caveman-compress/scripts/__init__.py
  opencode/skills/caveman-compress/scripts/__main__.py
  opencode/skills/caveman-compress/scripts/benchmark.py
  opencode/skills/caveman-compress/scripts/cli.py
  opencode/skills/caveman-compress/scripts/compress.py
  opencode/skills/caveman-compress/scripts/detect.py
  opencode/skills/caveman-compress/scripts/validate.py
  opencode/skills/code-docs/SKILL.md
  opencode/skills/content-research-writer/SKILL.md
  opencode/skills/datadog/SKILL.md
  opencode/skills/file-organizer/SKILL.md
  opencode/skills/glab/SKILL.md
  opencode/skills/httpie/SKILL.md
  opencode/skills/humanizer/SKILL.md
  opencode/skills/jira/SKILL.md
  opencode/skills/marp-slide/SKILL.md
  opencode/skills/mcp-builder/SKILL.md
  opencode/skills/meeting-insights-analyzer/SKILL.md
  opencode/skills/mermaid-diagrams/SKILL.md
  opencode/skills/notion/SKILL.md
  opencode/skills/project-docs/SKILL.md
  opencode/skills/skill-judge/SKILL.md
  opencode/skills/work-on-ticket/SKILL.md
  opencode/skills/worktrunk/SKILL.md
  opencode/skills/writing-clearly-and-concisely/SKILL.md
Due: none

docs: archive repository and update skills (#20)
  README.md
  opencode/skills/caveman-compress/SKILL.md
  opencode/skills/caveman-compress/scripts/__init__.py
  opencode/skills/caveman-compress/scripts/__main__.py
  opencode/skills/caveman-compress/scripts/benchmark.py
  opencode/skills/caveman-compress/scripts/cli.py
  opencode/skills/caveman-compress/scripts/compress.py
  opencode/skills/caveman-compress/scripts/detect.py
  opencode/skills/caveman-compress/scripts/validate.py
  opencode/skills/code-docs/SKILL.md
  opencode/skills/content-research-writer/SKILL.md
  opencode/skills/datadog/SKILL.md
  opencode/skills/file-organizer/SKILL.md
  opencode/skills/glab/SKILL.md
  opencode/skills/httpie/SKILL.md
  opencode/skills/humanizer/SKILL.md
  opencode/skills/jira/SKILL.md
  opencode/skills/marp-slide/SKILL.md
  opencode/skills/mcp-builder/SKILL.md
  opencode/skills/meeting-insights-analyzer/SKILL.md
  opencode/skills/mermaid-diagrams/SKILL.md
  opencode/skills/notion/SKILL.md
  opencode/skills/project-docs/SKILL.md
  opencode/skills/skill-judge/SKILL.md
  opencode/skills/work-on-ticket/SKILL.md
  opencode/skills/worktrunk/SKILL.md
  opencode/skills/writing-clearly-and-concisely/SKILL.md
Due: none
